<p>character-detail works!</p>
<div *ngFor="let character of characters">
  <div class="w3-bar-item">
    <span class="w3-large">{{character.firstName}} {{character.lastName}}</span><br>
    <span class="w3-tiny">{{character.role}}</span><br>
    <span class="w3-tiny">{{character.sex}}</span><br>
    <span class="w3-tiny" *ngIf="character.mother" >{{character.mother.firstName}} {{character.mother.lastName}} x </span>
    <span class="w3-tiny" *ngIf="character.father" >{{character.father.firstName}} {{character.father.lastName}}</span><br>
  </div>
</div>
